* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    background-color: rgb(248, 248, 248);
}

.nav1Container {
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 4px 5px rgb(253, 249, 249);
    padding: 10px;
    background-color: white;
    align-items: center;
}

.leftNav1 {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    color: #acafb4;
    font-size: 16px;
}

.abc {
    color: orange;
}

.leftNav1>div>a {
    font-size: 15px;
    font-weight: 700;
}

.leftNav1>img {
    width: 40px;
}

.rightNav1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #67686d;
}

.rightNav1>div>a {
    color: #acafb4;
    font-weight: 400;
    text-decoration: none;
}

.rightNav1>div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.rightNav1>div>img {
    width: 20px;
}

.menu {
    display: none;
}

.container1 {
    width: 90vw;
    margin: auto;
}

.nav2Container {
    border-bottom: rgb(223, 221, 221) 1px solid;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.nav2Container>div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
    color: #67686d;
}

.cardContainer {
    display: grid;
    padding: 5px;
    grid-template-columns: repeat(4, 1fr);
}

.card {
    padding: 20px;
    width: 280px;
    position: relative;
}

.card>p {
    padding: 4px;
    text-align: justify;
    color: #acafb4;
}

.card>div {
    padding: 4px;
    text-align: justify;
    color: #acafb4;
}

.cardImage {
    width: 280px;
    height: 180px;
}

.rating {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px rgb(218, 209, 209);
    padding: 0 10px;
}

.bullet {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: black;
}

.offerBox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    color: #895748 !important;
}

.card:hover {
    outline: 1px solid gray;
}

.star {
    display: block;
    width: 30px;
    height: 24px;
    color: white;
}

.star::after {
    display: inline-block;
    color: white;
    background-color: black;
}

.ratingMain {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: white;
    background-color: #da7d38;
    padding: 4px;
}

.ratingMain1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: white;
    background-color: #46c578;
    padding: 4px;
}

.card::before {
    content: 'PROMOTED';
    display: block;
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: black;
    border-radius: 4px;
    color: white;
}

.cardConatiner {
    display: flex;
    flex-flow: row wrap;
}

.bt {
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    visibility: hidden;
    font-weight: bold;
}

.card:hover .bt {
    visibility: visible;
}


/* new */

.fotter {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 40px;
}

.fotter>div {
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
    color: gray;
}

.fotter>div>a {
    text-decoration: none;
    color: white;
}

.fotter>div>a:hover {
    font-weight: bold;
}

.fotter>div>img {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fotter>div>img:hover {
    width: 210px;
}

@media (max-width:800px) {
    .cardContainer {
        grid-template-columns: repeat(2, auto);
    }
    .fotter {
        grid-template-columns: repeat(2, auto);
    }
    .rightNav1 {
        display: none;
    }
    .menu {
        display: block;
    }
}

@media (max-width:600px) {
    .cardContainer {
        grid-template-columns: repeat(1, auto);
    }
    .fotter {
        grid-template-columns: repeat(1, auto);
    }
}